body {
    font-family: Arial, sans-serif;
    background: #f2f4f8;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.header {
    background: linear-gradient(to right, #2563eb, #3b82f6);
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
}

.result {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

.FAKE {
    color: red;
}

.TRUE {
    color: green;
}
